@font-face {
    font-family: "coffee";
    src: url("../fonts/CoffeeAndCream-yYx9V.ttf");
}
@font-face {
    font-family: "vergillia";
    src: url("../fonts/Vergilia-mL6aa.ttf");
}
.vergillia{
    font-family: vergillia, serif;
    font-weight: 500;
}
body{
    position: relative;
}
header{
    font-family: coffee, sans-serif;
    font-weight: 900;
    display: flex;
    width: 100%;
    justify-content: center;
}
main {
    min-height: 85vh;
}
footer {
    margin: 0px -20px -20px -20px;
    padding: 20px 10px 10px 10px;
    font-family: coffee, sans-serif;
    font-weight: 900;
    position: relative;
}
.hidden{
    display: none;
}
.centered-text{
    text-align: center;
}
.right-text{
    text-align: right;
}