body.light {
    background: rgb(245, 245, 245);
    color: black;
}
body.dark {
    background: rgb(43, 45, 44);
    color: rgb(209, 215, 220);
}
body.light #header--img-logo--dark{
    display: none;
}
body.dark #header--img-logo--light{
    display: none;
}
body.light #header--mobile-menu--dark{
    display: none;
}
body.dark #header--mobile-menu--light{
    display: none;
}
#header--mode-selector{
    overflow: hidden;
    cursor: pointer;
}
body.light #header--mode-selector{
    background-image: linear-gradient(185deg, #2b2d2c, #8f479d 15%, #aa2150 40%, #31a569 70%, #31a569 85%, #2b2d2c);
    border: solid #515151 10px;
}
body.dark #header--mode-selector{
    background-image: linear-gradient(#8388e4, #a47cdb);
    border: solid #515151 10px;
}
body.light #sun{
    display: none;
}
body.light #top-cloud{
    display: none;
}
body.light #bottom-cloud{
    display: none;
}
body.dark #moon{
    display: none;
}