body.light {
    background: rgb(245, 245, 245);
    color: black;
}
body.dark {
    background: rgb(43, 45, 44);
    color: rgb(209, 215, 220);
}
body.light #header--img-logo--dark{
    display: none;
}
body.dark #header--img-logo--light{
    display: none;
}
body.light #header--mobile-menu--dark{
    display: none;
}
body.dark #header--mobile-menu--light{
    display: none;
}