#logo-text{
    margin: 20px auto;
}
.logo--top-line{
    margin: 0px;
}
.logo--bottom-line{
    margin: 0px;
    font-size: 35px;
    line-height: 90%;
}
.logo--top-large{
    font-size: 40px;
}
.logo--top-small{
    font-size: 20px;
}
#header--mobile-menu-icon{
    display: none;
    margin: auto;
}
header nav{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
    max-width: fit-content;
    border-bottom: solid 2px;
    margin: auto;
}
header nav span{
    margin: auto 20px;
}
#header--mobile-menu-icon img{
    max-height: 40px;
    width: auto;
}
#header--mode-selector{
    height: 60px;
    width: 60px;
    margin: 20px auto;
    display: inline-block;
    position: relative;
}
#sun, #moon{
    position: absolute;
    top: 0;
    width: 60px;
    height: auto;
}
.top-cloud{
    width: 60px;
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 1000;
}
.bottom-cloud{
    width: 30px;
    position: absolute;
    bottom: 20px;
    right: -10px;
    z-index: 1000;
}
@media screen and (max-width: 840px) {
    #header--mobile-menu-icon{
        display: block;
        margin: 20px 10px;
    }
    header nav{
        display: none;
    }
    #header--mode-selector{
    margin: 20px 10px;
}
}
@media screen and (max-width: 480px) {
    #header--mode-selector{
    height: 45px;
    width: 45px;
}
#sun, #moon{
    width: 45px;
}
.top-cloud{
    width: 45px;
}
.bottom-cloud{
    width: 22px;
}
}