#header--text-logo{
    display: inline;
}
#header--img-logo{
    display: none;
}
#header--img-logo img{
    max-height: 40px;
    width: auto;
}
@media screen and (max-width: 680px) {
    #header--text-logo{
        display: none;
    }
    #header--img-logo{
        display: inline;
    }
}