#header--img-logo{
    display: none;
}
#header--img-logo img{
    max-height: 40px;
    width: auto;
}
#header--mobile-menu-icon{
    display: none;
}
#header--mobile-menu-icon img{
    max-height: 40px;
    width: auto;
}
@media screen and (max-width: 680px) {
    #header--img-logo{
        display: inline;
    }
    #header--mobile-menu-icon{
        display: inline;
    }
}